*.iml
.gradle
/local.properties
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# IDE
.idea/

# APK & Bundle
*.apk
*.aab
*.ap_

# Generated
/app/build/
/app/release/

# Keystore
*.jks
*.keystore

# Secrets
secrets.properties
google-services.json
